@page
@model market_manager.Views.Bancas._LegendaMatrixPartialModel
@{
}
<div class="legenda-matriz">
    <div class="legenda-item">
        <div class="legenda-cor estado-ocupada"></div>
        <span>Ocupada</span>
    </div>
    <div class="legenda-item">
        <div class="legenda-cor estado-livre"></div>
        <span>Livre</span>
    </div>
    <div class="legenda-item">
        <div class="legenda-cor estado-manutencao"></div>
        <span>Manutenção</span>
    </div>
</div>