@model market_manager.Models.Bancas

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Bancas</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="NomeIdentificadorBanca" class="control-label"></label>
                <input asp-for="NomeIdentificadorBanca" class="form-control" />
                <span asp-validation-for="NomeIdentificadorBanca" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CategoriaBanca" class="control-label"></label>
                <select asp-for="CategoriaBanca" class="form-control"></select>
                <span asp-validation-for="CategoriaBanca" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Largura" class="control-label"></label>
                <input asp-for="Largura" class="form-control" />
                <span asp-validation-for="Largura" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Comprimento" class="control-label"></label>
                <input asp-for="Comprimento" class="form-control" />
                <span asp-validation-for="Comprimento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LocalizacaoX" class="control-label"></label>
                <input asp-for="LocalizacaoX" class="form-control" />
                <span asp-validation-for="LocalizacaoX" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LocalizacaoY" class="control-label"></label>
                <input asp-for="LocalizacaoY" class="form-control" />
                <span asp-validation-for="LocalizacaoY" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EstadoActualBanca" class="control-label"></label>
                <select asp-for="EstadoActualBanca" class="form-control"></select>
                <span asp-validation-for="EstadoActualBanca" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
