@model market_manager.Models.Bancas

@{
    ViewData["Title"] = "Bancas";
}
@if (!ViewData.ModelState.IsValid)
{
    <div class="alert alert-danger">
        <ul>
            @foreach (var error in ViewData.ModelState.Values.SelectMany(v => v.Errors))
            {
                <li>@error.ErrorMessage</li>
            }
        </ul>
    </div>
}

<form id="create-form" asp-action="Create"
      method="post"
      enctype="multipart/form-data">

    <nav class="navbar navbar-top">
        <div class="container-fluid">
            <a asp-action="Index" class="btn btn-secondary">Voltar</a>
            <button type="submit" form="create-form" class="btn btn-primary">Adicionar</button>
        </div>
    </nav>

    <h1>Bancas</h1>

    <h4>Adicionar uma nova Banca</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">


            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="NomeIdentificadorBanca" class="control-label"></label>
                <input asp-for="NomeIdentificadorBanca" class="form-control" />
                <span asp-validation-for="NomeIdentificadorBanca" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CategoriaBanca" class="control-label"></label>
                <select asp-for="CategoriaBanca" class="form-control" asp-items="@Html.GetEnumSelectList<Bancas.CategoriaProdutos>()">
                    <option value="">Selecione a Categoria da Banca</option>
                </select>
                <span asp-validation-for="CategoriaBanca" class="text-danger"></span>
            </div>
            <partial name="_MatrixPartial" model="new MatrixModel()" />
            <div class="form-group">
                <label asp-for="LocalizacaoX" class="control-label"></label>
                <input asp-for="LocalizacaoX" class="form-control" readonly />
                <span asp-validation-for="LocalizacaoX" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LocalizacaoY" class="control-label"></label>
                <input asp-for="LocalizacaoY" class="form-control" readonly />
                <span asp-validation-for="LocalizacaoY" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LarguraAux" class="control-label"></label>
                <input asp-for="LarguraAux" class="form-control" />
                <span asp-validation-for="LarguraAux" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ComprimentoAux" class="control-label"></label>
                <input asp-for="ComprimentoAux" class="form-control" />
                <span asp-validation-for="ComprimentoAux" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EstadoAtualBanca" class="control-label"></label>
                <select asp-for="EstadoAtualBanca" class="form-control" asp-items="@Html.GetEnumSelectList<Bancas.EstadoBanca>()">
                    <option value="">Selecione o Estado da Banca</option>
                </select>
                <span asp-validation-for="EstadoAtualBanca" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FotografiaBanca" class="control-label"></label>
                <input type="file" name="FotografiaBanca" accept=".png, .jpg, .jpeg, .pdf" class="form-control" />
            </div>
</form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
