@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem Vindo ao Market Manager</h1>
    <h2>Gestor de reservas em bancas de mercado local.</h2>
    <p>Desenvolvido pelos alunos</br></p>
    <p>Vasco Silvério: Nº22350</p>
    <p>Miguel Brazão:  Nº25260</p>

    </br>
    </br>
    </br>
    <p>Recursos e Links utilizados neste projecto:</p>
    <p>Para paginação, filtros e pesquisa - https://learn.microsoft.com/en-us/aspnet/core/data/ef-mvc/sort-filter-page?view=aspnetcore-5.0</p>
    <p>Zoom de imagem - https://ej2.syncfusion.com/aspnetcore/documentation/dialog/how-to/show-dialog-with-full-screen</p>
    <p>Autenticação/Autorização - https://endjin.com/blog/2022/03/adding-authentication-and-authorisation-to-aspnet-core-web-applications</p>

</div>
