@{
    ViewData["Title"] = "Home Page";
}


<div class="text-center">
    <h1 class="display-4">Bem Vindo ao Market Manager</h1>
    <h2>Gestor de reservas em bancas de mercado local.</h2>
    <p>Desenvolvido pelos alunos</br></p>
    <p>Vasco Silvério: Nº22350</p>
    <p>Miguel Brazão:  Nº</p>

    </br>
    </br>
    </br>
    <p>Recursos e Links utilizados neste projecto:</p>
</div>
