.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  color: white;
  padding: 20px;
}

.navbar .leftSide {
  display: flex;
  align-items: center;
}

.navbar .user-role {
  margin-right: 10px;
  font-weight: bold;
}

.navbar .rightSide a,
.navbar .hiddenLinks a {
  color: white;
  text-decoration: none;
  margin-left: 20px;
}

.navbar .rightSide button {
  display: none;
}

@media (max-width: 768px) {
  .navbar .rightSide a {
    display: none;
  }
  
  .navbar .rightSide button {
    display: block;
  }
  
  .navbar .hiddenLinks {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    background-color: #333;
    padding: 20px;
  }
  
  .navbar .hiddenLinks a {
    margin: 10px 0;
  }
  
  .navbar #open .hiddenLinks {
    display: flex;
  }
}