.Reservas {
  padding: 20px;
}

.Reservas h1 {
  margin-bottom: 20px;
}

.Reservas .form-control {
  max-width: 400px;
}

.Reservas .Table {
  margin-top: 20px;
}

.Reservas .no-results {
  margin-top: 20px;
  font-style: italic;
}

.Reservas .error {
  color: red;
  margin-top: 20px;  
}